<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.me.projectamityandroidofficer">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".LoginActivity" android:label="Project Amity Officer Application">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ReportHomeActivity" android:label="Home">
        </activity>
        <activity android:name=".RecommendedReportActivity" android:label="Recommended Reports">
        </activity>
                <activity android:name=".RecommendedReportHomeActivity" android:label="Select Radius">
        </activity>
        <activity android:name="LocateOfficerActivity" android:label="Locate Officers">
        </activity>
        <activity android:name=".ReportListActivity" android:label="List of Reports"/>
        <activity android:name=".OutdoorReportActivity" android:label="Outdoor Report">

        </activity>
        <activity android:name=".IndoorReportActivity" android:label="Indoor Report">

        </activity>
        <activity android:name=".ResolveOutdoorActivity" android:label="Resolve Outdoor Report">

        </activity>
        <activity android:name=".taboutdoor" android:label="Resolve Outdoor Report">
        </activity>
        <activity android:name=".tabindoor" android:label="Resolve Indoor Report">
        </activity>
        <activity android:name=".ResolveIndoorActivity" android:label="Resolve Indoor Report">
        </activity>
        <service android:enabled="true" android:name=".GPSService" />
    </application>
</manifest>
